.portfolio-container {
  border: 5px dashed gray;

  &__project-boxes-container {
    border: 5px dashed pink;
    max-height: 65vh;
    max-width: 90%;
    margin: 0 auto;
    overflow-y: scroll;
  }
}
