.portfolio-container {
  border: 5px dashed gray;

  &__project-boxes-container {
    // border: 5px dashed pink;
    max-height: 65vh;
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: scroll;
  }
}



// Add another container for everthing that will have border-radius and overflow to hidden, while most outer container does have overflow-y to scroll.
