.tech-used-container {
  // border: 2px dashed red;
  // display: inline-block;
  // position: absolute;
  // top: 0;
  // right: 3%;

  &__icons {
    border: 2px solid green;
    display: inline-block;
    color: red;
    
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .react {
    color: paleturquoise;
  }
}


