.about-myself-container {
  border: 4px dashed palevioletred;
  // overflow: hidden;
  margin: 2px;

  &__text {
    // border: 2px solid green;
    font-size: 2rem;
    font-weight: 400;
    margin: 10px;
    background-image: linear-gradient(
      rgba(247, 233, 233, 0.973),
      rgb(105, 183, 194)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
