.interests-container {
  // border: 1px solid wheat;
  // height: 40%;
  // width: 40%;
  // position: absolute;
  // right: 5%;
  // bottom: 5%;
  margin-left: 10px;

  .title {
    font-size: 2.3rem;
    line-height: 40px;
  }

  .dash {
    color: rgb(221, 156, 17);
    font-weight: bold;
  }

  color: rgb(247, 240, 230);
}
