.icon-container {
  display: inline-block;
  width: 20%;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  &__link {
    display: inline-block;
  }

  .image-link {
    width: 77%;
  }

  &__iconImage {
    font-size: 3rem;
  }

  .image {
    width: 100%;
    padding-top: 3px;
    border-radius: 25%;
  }
}
