.home-container {
  z-index: -1;

  &__skills-container {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;

    @media screen and (max-width: 321px) {
      bottom: 17%;
    }
  }
}
