$github-icon-color: #a01175;
$github-backend-icon-color: #a7820a;
$linkedin-icon-color: #356ab4;
$fcc-icon-color: #006400;
$site-icon-color: #124cec;

$react-color: #1c3abd;
$sass-color: #79247c;
$javascript-color: #b3a20c;
$css-color: #19177a;
$html-color: #850d0d;
$node-color: #068a06;;
