@import '../../../scss/abstracts/mixins';

.email-container {
	@include contacts-container-box;

	@media screen and (min-width: 1000px) {
		transform: scale(1.65);
	}

	@media screen and (min-width: 1360px) {
		transform: scale(1.5);
	}

	&__link {
		@include contacts-icon(rgba(14, 167, 255, 0.911));
	}
}

.label {
	color: whitesmoke;
}

.address {
	color: rgb(3, 187, 243);
}
