.contact-info-container {
  // border: 4px solid crimson;
    font-size: 2.3rem;


  &__email-container {
    // border: 2px solid green;

    &__email {
      margin: 2px;
    }
  }

  &__linkedin-container {
    border: 2px solid tan;
  }
}

.label {
  color: whitesmoke;
}

.address {
  color: rgb(3, 187, 243);
}
