.footer-container {
  // border: 2px dashed darkcyan;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: fit-content;
  filter: blur(0px);
  backface-visibility: hidden;
  z-index: 2;

  display: flex;
  margin-bottom: 0;
}
