@import '../../../scss/abstracts/variables';


.skills-container {
  display: inline-block;
  width: 100%;
  // z-index: 2;

  .skill-icon {
    width: 33.33%;
    margin: 5px 0;
  }
}

.html-icon {
  color: $html-color;
}
.css-icon {
  color: $css-color;
}
.javascript-icon {
  color: $javascript-color;
}
.npm-icon {
  color: $npm-color;
}
.sass-icon {
  color: $sass-color;
}
.react-icon {
  color: $react-color;
}
